<div data-ng-controller="OrderController as Order" class="row" ng-init="Application.contentTitle='Novo Pedido'">
  <!-- <div ng-include="'views/product/form.html'"></div> -->
  <div class="col s3 offset-s9">
    <button class="btn btn-large blue waves-effect waves-light" type="button" name="Salvar" data-ng-click="Product.add()">Salvar</button>
    <button class="btn btn-large red waves-effect waves-light" type="button" name="Cancelar" data-ng-click="Product.add()">Cancelar</button>
  </div>
</div>
