*{
  margin: 0;
}

header .message{
  height: 3em;
  transition: all linear 0.05s;
  position: absolute;
  top: 1em;
}

header .message .close{
  width: 1.5em;
  height: 1.5em;
  font-size: 0.8em;
  text-align: center;
  float: right;
}

header .ng-hide{
  height: 0;

}

header .message span{
  width: 100%;
}

body{
  background: #CCC;
  color: #333;
  font-family: "Trebuchet MS";
}

content{
  width: 100%;
}
content form{
  width: 96%;
  margin: 0 auto;
}
content h1{
  margin: 0.3em 0 0.5em 0.3em;
  font-size: 2em;
}

content .table-scroll {
  height:30em;
  overflow:auto;
  margin-top:20px;
}

footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 1.5em;
  width: 100%;
  background: #AAA;
  text-align: right;
  font-size: 0.8em;
  padding: 0.2em 0.5em 1.5em 0em;
  margin-left: -0.5em
}

.grey-text-placehoder::-webkit-input-placeholder{
  color: #26a69a;

}
