*{
  margin: 0;
}

body{
  background: #CCC;
  color: #333;
  font-family: "Trebuchet MS";
}

content{
  width: 100%;
}

content h1{
  margin: 0.3em 0 0 0.3em;
  font-size: 2em;
}

footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 1.5em;
  width: 100%;
  background: #AAA;
  text-align: right;
  font-size: 0.8em;
  padding: 0.2em 0.5em 1.5em 0em;
  margin-left: -0.5em
}
