<form name="productForm">
  <div data-ng-class="{'invalid' : productForm.name.$invalid}" class="input-margin">
    <label for="name">Nome</label>
    <input autofocus ng-disabled="Product.disabled" type="text" id="name" data-ng-model="Product.name" placeholder="Nome" required>
  </div>
  <div class="input-margin">
    <label for="description">Descrição</label>
    <input ng-disabled="Product.disabled" type="text" id="descriptionAdd" data-ng-model="Product.descriptionT" placeholder="Item" class="grey-text-placehoder">
    <button class="btn blue" data-ng-click="Product.addDescription()">Adicionar item</button>
    <br>
    <div data-ng-repeat="desc in Product.description | orderBy: 'name'">
      <button data-ng-click="Product.removeDescription(desc.id)" class="btn red">X</button> {{desc.name}}
    </div>
  </div>
  <div data-ng-class="{'invalid' : productForm.valueSell.$invalid}" class="input-margin">
    <label for="valueSell">Preço</label>
    <input ng-disabled="Product.disabled" type="text" id="valueSell" data-ng-model="Product.valueSell" ui-money-mask="2" placeholder="Valor de Venda" required onfocus="this.value = this.value;">
  </div>
</form>
